<nav class="navigation">
  <ol>
    <li><a href="#sectionOne"><div class="navigation-item navigation-item__active"></div></a></li>
    <li><a href="#sectionTwo"><div class="navigation-item"></div></a></li>
    <li><a href="#section3"><div class="navigation-item"></div></a></li>
    <li><a href="#section4"><div class="navigation-item"></div></a></li>
    <li><a href="#section5"><div class="navigation-item"></div></a></li>
    <li><a href="#section6"><div class="navigation-item"></div></a></li>
    <li><a href="#section7"><div class="navigation-item"></div></a></li>
    <li><a href="#section8"><div class="navigation-item"></div></a></li>
  </ol>
</nav>
