<nav class="navigation">
  <ol>
    <li (click)="navigateToSection(sectionIdEnum.SECTIONONE)">
      <div class="navigation-item" [class.navigation-item__active]="navigationId == sectionIdEnum.SECTIONONE"></div>
    </li>
    <li (click)="navigateToSection(sectionIdEnum.SECTIONTWO)">
      <div class="navigation-item" [class.navigation-item__active]="navigationId == sectionIdEnum.SECTIONTWO"></div>
    </li>
    <li (click)="navigateToSection(sectionIdEnum.SECTIONTHREE)">
      <div class="navigation-item" [class.navigation-item__active]="navigationId == sectionIdEnum.SECTIONTHREE"></div>
    </li>
    <li (click)="navigateToSection(sectionIdEnum.SECTIONFOUR)">
      <div class="navigation-item" [class.navigation-item__active]="navigationId == sectionIdEnum.SECTIONFOUR"></div>
    </li>
  </ol>
</nav>
