header{
  background-color:#DFE9E9;
  padding:0 5px;
  margin:-20px -10px 0 -10px;
  font-size: 20px;
  width: auto;
  height:auto;
}

.block-header{
  height:70px;
  width:100%;
  box-shadow: 0 2px 2px #e3e3e3;
}

.img--main-logo {
  width:45px;
  margin: 0 0 15px 10px;
}

.img--main-white-logo{
  display:none;
}

.img--grid-logo {
  width:200px;
  margin-bottom:15px;
}

.img--ibm-logo {
  width:65px;
  border-left: 1px solid #b7b7b7;
  margin: 0 0 17px 7px;
  padding-left: 5px;
}

.block-header__main-logos {
  list-style: none;
  float: left;
  padding:0;
}

.block-header__login-info {
  list-style: none;
  float: right;
}

.block-header__main-logos li,
.block-header__login-info li{
  display: inline-block;
}

ul.block-header__login-info {
  margin-top:3px;
}

.block-header__login-info li{
  margin-right:10px;
}

.a--login-button:link,
.a--login-button:visited {
  padding: 8px 0;
  color: #e2745e;
  text-decoration: none;
  font-weight:normal;
  border-bottom: 0.1px solid #D54427;
  font-size: 17px;
}

.a--login-button:hover,
.a--login-button:active {
  padding: 8px 0;
  color: #d54427;
  text-decoration: none;
  font-weight:normal;
  border-bottom: 0.1px solid #D54427;
  font-size: 17px;
}

.a--join-button {
  background-color:#D54427;
  padding: 7px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.a--join-button:hover,
.a--join-button:active {
  background-color:#fff;
  padding: 7px;
  text-decoration: none;
  color: #D54427;
  font-size: 17px;
}

@media only screen and (max-width: 851px){
  .img--main-logo{
    display:none;
  }

  .img--grid-logo{
    display:none;
  }

  .img--main-white-logo{
    display:block;
    width: 42px;
    margin: 0 0 1px 12px;
  }

  .img--ibm-logo{
    margin-bottom:3px;
  }
}

@media only screen and (max-width: 501px) {
  .img--main-white-logo {
    width: 30px;
    margin: 0 0 -5px 10px;
  }

  .img--ibm-logo {
    width: 65px;
    border-left: 1px solid #b7b7b7;
    margin: 0 0 -9px 5px;
    padding-left: 5px;
  }

  .a--login-button:link,
  .a--login-button:visited {
    padding: 8px 0;
    color: #e2745e;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 0.1px solid #D54427;
    font-size: 14px;
  }

  .a--login-button:hover,
  .a--login-button:active {
    padding: 8px 0;
    color: #d54427;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 0.1px solid #D54427;
    font-size: 14px;
  }

  .a--join-button {
    background-color: #D54427;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .a--join-button:hover,
  .a--join-button:active {
    background-color: #fff;
    padding: 7px;
    text-decoration: none;
    color: #D54427;
    font-size: 14px;
  }
}



.closeButton {
  padding-top:20px;
}
