<header>
  <nav>
    <div class="row header">
      <ul class="main-logos">
        <li><img class="logo-mark" src="assets/image/web-logo.png"></li>
        <li><img class="grid-logo" src="assets/image/world-community-grid.png"></li>
        <li><img class="ibm-logo" src="assets/image/ibm.png"></li>
      </ul>
<!--      <div class="column">-->
<!--        <img class="logo-mark" src="assets/image/web-logo.png" style="width:30%">-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <img class="grid-logo" src="assets/image/world-community-grid.png" style="width:90%">-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <img class="ibm-logo" src="assets/image/ibm.png" style="width:auto">-->
<!--      </div>-->
      <ul class="login-info">
        <li>Login</li>
        <li>Join</li>
        <li><fa-icon [icon]="faTimes"></fa-icon></li>
      </ul>
    </div>
  </nav>
</header>
