<header>
  <nav>
    <div class="row header">
      <ul class="main-logos">
        <li><img class="logo-mark" src="assets/image/web-logo.png"></li>
        <li><img class="grid-logo" src="assets/image/world-community-grid.png"></li>
        <li><img class="ibm-logo" src="assets/image/ibm.png"></li>
      </ul>
<!--      <div class="column">-->
<!--        <img class="logo-mark" src="assets/image/web-logo.png" style="width:30%">-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <img class="grid-logo" src="assets/image/world-community-grid.png" style="width:90%">-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <img class="ibm-logo" src="assets/image/ibm.png" style="width:auto">-->
<!--      </div>-->
      <ul class="login-info">
        <li><a class="login-button">Login</a></li>
        <li><a class="join-button">Join</a></li>
        <li><a><fa-icon [icon]="faTimes" [styles]="{'height': '30px', 'width': '30px','padding-top': '10px'}"></fa-icon></a></li>
      </ul>
    </div>
  </nav>
</header>
