header{
  background-color:#DFE9E9;
  padding:0 5px;
  margin:-20px -10px 0 -10px;
  font-size: 20px;
  width: auto;
  height:auto;
}

.header{
  height:70px;
  width:100%;
  box-shadow: 0 2px 2px #e3e3e3;
}

.logo-mark {
  width:45px;
  margin-left:10px;
}

.grid-logo {
  width:200px;
}

.ibm-logo {
  width:65px;
  border-left: 1px solid #b7b7b7;
  margin: 0 0 3px 5px;
  padding-left: 5px;
}

.main-logos {
  list-style: none;
  float: left;
  padding:0;
}

.login-info {
  list-style: none;
  float: right;
}

.main-logos li,
.login-info li{
  display: inline-block;
}

.login-info li{
  margin-right:10px;
}

ul.login-info {
  margin-top:3px;
}

a.login-button:link,
a.login-button:visited {
  padding: 8px 0;
  color: #e2745e;
  text-decoration: none;
  font-weight:normal;
  border-bottom: 0.1px solid #D54427;
  font-size: 17px;
}

a.login-button:hover,
a.login-button:active {
  padding: 8px 0;
  color: #d54427;
  text-decoration: none;
  font-weight:normal;
  border-bottom: 0.1px solid #D54427;
  font-size: 17px;
}

li .join-button {
  background-color:#D54427;
  padding: 7px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

li .join-button:hover,
li .join-button:active {
  background-color:#fff;
  padding: 7px;
  text-decoration: none;
  color: #D54427;
  font-size: 17px;
}

.closeButton {
  padding-top:20px;
}
