<header>
  <nav>
    <div class="block-header">
      <ul class="block-header__main-logos">
        <li><img class="img--main-logo" src="assets/image/web-logo.png"></li>
        <li><img class="img--main-white-logo" src="assets/image/web-white-logo.png"></li>
        <li><img class="img--grid-logo" src="assets/image/world-community-grid.png"></li>
        <li><img class="img--ibm-logo" src="assets/image/ibm.png"></li>
      </ul>
      <ul class="block-header__login-info">
        <li><a href="https://www.worldcommunitygrid.org/viewLogin.do" class="a--login-button">Login</a></li>
        <li><a href="https://www.worldcommunitygrid.org/join.action#signup" class="a--join-button">Join</a></li>
        <li class="closeButton"><a href="https://www.worldcommunitygrid.org/"><fa-icon [icon]="faTimes" [styles]="{'height': '30px', 'width': '30px', 'vertical-align': 'middle', 'color': '#000000'}"></fa-icon></a></li>
      </ul>
    </div>
  </nav>
</header>
