<div class="wrapper">
  <app-main-menu></app-main-menu>
  <app-navigation-carousel></app-navigation-carousel>
  <div class="section-wrapper"
       [ngStyle]="{'transform': 'translateY(-' + scrollValue + '%)'}">
    <section class="section" id="sectionOne" [style.backgroundImage]="'url(/assets/background-1.jpg)'"
             [style.backgroundColor]="'#335a8a'">
      <app-section1></app-section1>
    </section>
    <app-section2 id="sectionTwo"></app-section2>
    <app-section3 id="sectionThree" [subsectionId]="positionOfSubsectionThree" (clicked)="onClickToSubsection()"></app-section3>
  </div>
  <app-scroll-section-btn [color]="buttonColor" [positionButton]="positionButton"
                          [visible]="buttonVisibleOnSection" (clicked)="onClickToScrollDown()" >

  </app-scroll-section-btn>
</div>
