.wrapper {
  overflow: hidden;
  height: 101vh;
}

.section-wrapper {
  transition: ease-in-out, transform 1s;
  height: 821px;
}

.section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: overlay;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  text-align: center;
  color: white;
}
