<app-main-menu></app-main-menu>
<app-navigation-carousel></app-navigation-carousel>
<app-section1></app-section1>

<section class="section" id="sectionTwo" [style.backgroundImage]="'url(/assets/background-2.jpg)'" [style.backgroundColor]="'#FDD500'">
</section>

<app-section4 id="sectionThree"></app-section4>

<app-scroll-section-btn [color]="buttonColor" [positionButton]="positionButton"
                        [visible]="buttonVisibleOnSection" (clicked)="scrollDown()"></app-scroll-section-btn>

