<li class="section-three">
  <div class="header">
    <fa-icon class="header-icon" [icon]="iconMountain" *ngIf="sectionPosition === 0"></fa-icon>
    <fa-icon class="header-icon" [icon]="iconCompass" *ngIf="sectionPosition === 1"></fa-icon>
    <fa-icon class="header-icon" [icon]="iconFlag" *ngIf="sectionPosition === 2"></fa-icon>
    <h3 class="header-text" *ngIf="sectionPosition === 0">Challenge</h3>
    <h3 class="header-text" *ngIf="sectionPosition === 1">Solution</h3>
    <h3 class="header-text" *ngIf="sectionPosition === 2">Impact</h3>
  </div>
  <div class="content">
    <div class="main-content">
      <h2 class="main-content__title" *ngIf="sectionPosition === 0">Scientists need help</h2>
      <h2 class="main-content__title" *ngIf="sectionPosition === 1">Your device makes a difference</h2>
      <h2 class="main-content__title" *ngIf="sectionPosition === 2">Get results that matter</h2>
    </div>
    <div class="main-content__text">
      <p class="main-content__first-paragraph" *ngIf="sectionPosition === 0">They’re searching the microscopic world for
        answers to our biggest problems, but it’s hard to know where to start. That’s why many use computer simulations
        to point them in the right direction, just as explorers rely on maps to find their way.</p>
      <p class="main-content__first-paragraph" *ngIf="sectionPosition === 1">World Community Grid turns your device into
        an explorer. You choose a research area, download a toolkit called BOINC and join the thousands of volunteers
        helping to chart the microscopic jungle.</p>
      <p class="main-content__first-paragraph" *ngIf="sectionPosition === 2">As a World Community Grid volunteer, your
        device does research calculations when it’s idle, so just by using it as you do every day, you can help
        scientists get results in months instead of decades. With your help, they can identify the most important areas
        to study in the lab, bringing them one step closer to
        discoveries that save lives and address global problems.</p>
      <b class="main-content__second-paragraph" *ngIf="sectionPosition === 0">Finding answers is tough, and without
        more computers, doing scientific research can be a bit like exploring with an incomplete map</b>
    </div>
  </div>
</li>
