<ul class="section" id="sectionThree">
  <li class="subsection-challenge subsection-bg" id="challenge"
      [class.active-section-challenge]="subsectionId === enumValue.CHALLENGE">
    <div class="header"
         [class.active-header]="subsectionId === enumValue.CHALLENGE">
      <fa-icon class="header-icon" [icon]="iconMountain"></fa-icon>
      <h3 class="header-text">Challenge</h3>
    </div>
    <div class="content" [hidden]=" subsectionId !== enumValue.CHALLENGE">
      <div class="main-content">
        <h2 class="main-content__title ">Scientists need help</h2>
        <img src="../../assets/image/challenge-compass.png" alt="Challenge Image" class="main-content__image">
      </div>
      <div class="main-content__text">
        <p class="main-content__first-paragraph ">They’re searching the microscopic
          world for answers to our biggest problems, but it’s hard to know where to start. That’s why many use computer
          simulations to point them in the right direction, just as explorers rely on maps to find their way.</p>
        <b class="main-content__second-paragraph ">Finding answers is tough, and without more computers, doing
          scientific research can be a bit like exploring with an incomplete map</b>
      </div>
      <span class="icon-navigation" (click)="sectionVisible()">
        <fa-icon class="btn-down__icon" [icon]="iconArrowDown"></fa-icon>
      </span>
    </div>
  </li>
  <li class="subsection-solution subsection-bg" id="solution"
      [class.active-section-solution]="subsectionId === enumValue.SOLUTION">
    <div class="header"
         [class.active-header]="subsectionId === enumValue.SOLUTION">
      <fa-icon class="header-icon" [icon]="iconCompass"></fa-icon>
      <h3 class="header-text">Solution</h3>
    </div>
    <div class="content" [hidden]="subsectionId !== enumValue.SOLUTION">
      <div class="main-content">
        <h2 class="main-content__title ">Your device makes a difference</h2>
        <img src="../../assets/image/solution.png" alt="Challenge Image" class="main-content__image">
      </div>
      <div class="main-content__text">
        <p class="main-content__first-paragraph ">World Community Grid turns your device into an explorer. You choose a
          research area, download a toolkit called BOINC and join the thousands of volunteers
          helping to chart the microscopic jungle.</p>
      </div>
      <span class="icon-navigation" (click)="sectionVisible()">
        <fa-icon class="btn-down__icon" [icon]="iconArrowDown"></fa-icon>
      </span>
    </div>
  </li>
  <li class="subsection-impact subsection-bg" id="impact"
      [class.active-section-impact]="subsectionId === enumValue.IMPACT">
    <div class="header"
         [class.active-header]="subsectionId === enumValue.IMPACT">
      <fa-icon class="header-icon" [icon]="iconFlag"></fa-icon>
      <h3 class="header-text">Impact</h3>
    </div>
    <div class="content" [hidden]="subsectionId !== enumValue.IMPACT">
      <div class="main-content">
        <h2 class="main-content__title">Get results that matter</h2>
        <img src="../../assets/image/impact.png" alt="Challenge Image" class="main-content__image">
      </div>
      <div class="main-content__text">
        <p class="main-content__first-paragraph ">As a World Community Grid volunteer, your device does research
          calculations when it’s idle, so just by using it as you do every day, you can help
          scientists get results in months instead of decades. With your help, they can identify the most important
          areas to study in the lab, bringing them one step closer to discoveries that save lives and address global
          problems.</p>
      </div>
    </div>
  </li>
</ul>



