.section {
  height: 100%;
  text-align: center;
  background-color: #2D75CF;
  color: white;
  padding-top: 100px;
}

/*subsection*/
.subsection-challenge {
  background-image: url("../../assets/image/challenge-bg.png");
}

.subsection-solution {
  background-image: url("../../assets/image/solution-bg.png");
}

.subsection-impact {
  background-image: url("../../assets/image/impact-bg.png");
}

.subsection-bg {
  background-blend-mode: soft-light;
  background-size: 20%;
  background-color: #2D75CF;
  position: relative;
}

.active-section-challenge {
  height: calc(100% - 96px);
}

.active-section-solution, .active-section-impact {
  height: calc(100% - 96px);
}

.active-header {
  margin-bottom: 24px;
}


/* Subsection*/

.header {
  height: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2D75CF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  font-size: 18px;
}

.header-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-left: 12px;
}

.main-content {
  margin-bottom: 24px;
}

.main-content__title {
  font-size: 22px;
  margin-bottom: 24px;
}

.main-content__image {
  display: none;
}

.main-content__text {
  padding-left: 48px;
  padding-right: 48px;
  font-size: 13px;
  line-height: 19px;
}

.main-content__first-paragraph {
  margin-bottom: 24px;
}

.icon-navigation {
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 10px;
}

@media (min-width: 500px) {
  .content {
    margin: 60px 0 60px 0;
  }

  .header-icon {
    font-size: 28px;
  }

  .header-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    padding-left: 12px;
  }

  .subsection-bg {
    background-size: 10%;
  }

  .main-content__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
  }

  .main-content__image {
    display: block;
    height: 155px;
    max-width: 200px;
    margin: auto;
  }

  .main-content__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 850px) {
  .header-icon {
    font-size: 22px;
  }

  .header-text {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .main-content__title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .main-content__text {
    font-size: 22px;
    line-height: 28px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
