<section class="section section-background section-content">
  <div class="section-content__text">
    <div class="section-content__text-center">
      <p class="section-content__first-paragraph">Accelerate research with no investment of time or money.</p>
      <hr class="section-content__separator">
      <p class="section-content__second-paragraph">When you become a <b>World Community Grid</b> volunteer, you donate
        your device’s spare computing power to
        help
        scientists solve the world’s biggest problems in health and sustainability.</p>
    </div>
  </div>
</section>
