/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*scroll behavior for scrolling sections in tha main page*/
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
}
